* {
    margin: 0;
    padding: 0; 
}
  
body {
    background-color: #e0e0e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3; 
    margin: 0;
    padding: 110px 0 0 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   height: 20px;
}

.header {
    position: fixed;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
    z-index: 40;
    background-image: linear-gradient(to bottom, #F70759, #ff2e74, #fc4884); 
    overflow: hidden;
}

.headercols {
    display: flex;
    width: 100%;
    box-sizing: border-box;
} 

.contlogo {
    width: 35%;
    padding-top: 35px;
}

.contmenu {
    width: 52%;
}

.contcart {
    width: 13%;
    height: 110px;
    display: flex;    
}

.logo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 35px;
    color: white;
    line-height: 40px;
    padding: 35px 40px;    
}

.linklogo,.linklogo:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.image {
    width: 25%;
}

.items {
    width: 40%;
    padding-top: 45px;
}

.imgCarrito {
    padding-top: 35px;
    width: 45px;
    height: 45px;
    cursor: pointer;    
}

.cantdestinos {
    font-size: 21px;
    font-weight: bolder;
    color: #2a536d;
    padding-left: 19px;
    padding-top: 45px;
}
  
.lbldestinos {
    font-size: 21px;
    font-weight: bolder;
    color: #2a536d;
    padding-top: 45px;
}

.btnAddCart {  
    background-color: #C25E30;
    color: #fff;
    width: 110px;
    height: 24px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer; 
}

.btnAddCart:hover {
    background: #d3074c;
    color: white;
    cursor: pointer;
}

.btnCheckout {    
    background-color: #C25E30;
    color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.btnCheckout:hover {    
    background: #d3074c;   
    color: white;
    cursor: pointer;
}

.btnClear {    
    background-color: #C25E30;
    color: #fff;
    width: 150px;
    height: 25px;    
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.btnClear:hover {    
    background: #d3074c;   
    color: white;
    cursor: pointer;
}

.btnContinue {    
    background-color: #C25E30;
    color: #fff;
    width: 150px;
    height: 25px;    
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.btnContinue:hover {    
    background: #d3074c;   
    color: white;
    cursor: pointer;
}

.btnBuy {    
    background-color: #C25E30;
    color: #fff;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.btnBuy:hover {    
    background: #d3074c;   
    color: white;
    cursor: pointer;
}

.btnRemove {
    background-color: #C25E30;
    color: #fff;
    width: 140px;
    height: 30px;
    margin-top:10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer; 
}

.btnRemove:hover {    
    background: #d3074c;
    color: white;
    cursor: pointer;
}

.btnAdd {
    background-color: #C25E30;
    color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer; 
}

.btnAdd:hover {    
    background: #d3074c;
    color: white;
    cursor: pointer;
}

.containerdest {
    width: 92%;
    overflow: hidden;
}

.column1 {
    width: 50%;
    float: left;
    padding-bottom: 30px;
    text-align: center;
}

.column2 {
    width: 40%;
    float: left;
}

.emptyCart {
    margin-top: 70px;
    margin-bottom: 30px;
}

.lblEmptyCart {
    font-size: 18px;
    color:darkblue;
}

.subtotal {
    position: absolute;
    border: 1px solid blue;
    left: 1070px;
    top: 210px;
    width:200px;
    height: 290px;
    text-align: center;
}

.contResumen {
    margin: 15px 0;
}

.txtResumen {
    color:darkslateblue;
    font-weight: bolder;
}

.txtSubtotal {
    font-size: 15px;
}

.txtTaxes {
    font-size: 12px;
}

.txtTotal {
    font-size: 15px;
    font-weight: bolder;
}

.contContinue,.contClear,.contFinish {
    margin: 15px 0;
}

.contClearCart {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.nameDestinoCart {
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.priceCart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-top: 75px;
    color: darkblue;
}

.contenedor {
    width: 100%;
    padding-top: 20px;
}

.mainDestinos {
    width: 33.33%;
    float: left;
    text-align: center;
    padding-bottom: 25px;
}

.nameDestino {
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    text-align: center;
}

.nameDestinoDetail {
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
}

.fotoDestino {
    text-align: center;
}

.descDestino {
    padding: 4% 5%;
}

.descDestinoDetail {
    padding: 2% 31%;
    font-size: 14px
}

.priceDetail {
    padding: 0% 31%;
    font-size: 12px;
}

.disponibilidadDetail {
    padding: 3% 31%;    
}

.botonDestino {
    text-align: center; 
    padding-bottom: 6%;
}

.imageDestino {
    width: 70%;
    border-radius: 10px;
}

.imageDestinoDetail {
    width: 35%;
    border-radius: 10px;
}

.frmpassengers {
    text-align: center;
    border:#2a536d 1px solid;
    border-radius: 5px;
    width: 280px;
    padding: 5px 0 15px 0;
    margin: 0 23%;
}

.passengers {
    width: 50px;
    height: 20px;
}

.lblpassengers {
    font-size: 13px;
    color: #2a536d;
    padding-top: 45px;
}

.itempassengers {
    width: 30px;
    margin-top: 8px;
    text-align: center;
    font-weight: bolder;        
    cursor: pointer;
}